# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build artifacts
build/
dist/
Output/
*.exe
*.spec

# Virtual environment
venv/
.venv/
env/
.env

# IDE and editor directories
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# logging files
.log/
log/
*.log

# specific files
setup.py
main.spec